/* now starting configuring the css file */
/* import the google font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

/* creating the css variable using the root element  */
:root{
     --header-height:3.5rem;
     /* the color i used here */
     --first-color:#fcf403;
     --first-color-alt:#fcdb03;
     --first-color-light:#fcca03;
     --first-color-lighten:#e8e4d5;
     --second-color:#0fdbf2;
     --title-color:#021012;
     --text-link:#000;
     --text-color:#e8e4d5;
     --text-color-light:#e8e4d5;
     --body-color:#FFF;
     --border-color:#fff;
     --container-color:#fff;
     /* the font and typography i used are */
     --body-font:'Poppins', sans-serif;
     --biggest-font-size:2.25rem;
     --h1-font:1.5rem;
     --h2-font:1.25rem;
     --h3-font:1rem;
     --normal-font-size:0.938rem;
     --small-font-size:0.813rem;
     --little-font-size:0.75rem;
     /* the font weight i used */
     --font-medium:500;
     --font-semi-bold:600;
     /* the z index i used */
     --z-tooltip:10;
     --z-fixed:100;
}
/* ==========chenge dark theme===== */
.change-theme{
    color: var(--first-color);
    font-size:var(--h3-font);
    cursor: pointer;
    transition: .3s;
}
.change-theme:hover{
    transform:rotate(120deg)
}
body.dark-theme{
    --first-color:#fcf403;
    --first-color-alt:#fcdb03;
    --first-color-light:#fcca03;
    --first-color-lighten:#e8e4d5;
    --second-color:#0fdbf2;
    --title-color:#021012;
    --text-color:#e8e4d5;
    --text-color-light:#e8e4d5;
    --body-color:#000;
    --border-color:#fff;
    --container-color:#fff;
    --text-link:#fff;
}
/* to manage the responsiv font and typography */
@media screen and (min-width: 1023px) {
     :root{
        --biggest-font-size:4rem;
        --h1-font:2.25rem;
        --h2-font:1.5rem;
        --h3-font:1.25rem;
        --normal-font-size:1rem;
        --small-font-size:0.875rem;
        --smaller-font-size:0.813rem;
     }
}
/* now start the base styleing */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color:var(--body-color);
    color: var(--text-color);
}
h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
a{
    text-decoration: none;
    color: var(--text-link);
}
img{
    max-width: 100%;
    height: auto;
}
input,button{
    font-family: var(--body-font);
    outline: none;
    border: none;
}
/* the reusable css class */
.container{
    max-width: 1200px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.grid{
    display: grid;
}
.section{
    padding: 4.5rem 0.2rem;
}
.section__ tittle{
    font-size:var(--h2-font);
    margin-bottom: 1rem;
}
.section__tittle span{
    color: var(--second-color);
}
.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    color: var(--second-color);
}
.main{
    overflow: hidden;
}
a .span{
    font-size: var(--h2-font);
    color: var(--first-color);
    padding-left:.5rem;
}
ul{
    list-style: none;
}
/* header part styling using css */
.header{
    /* border: 1px solid black; */
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#fff;
    z-index:999;
    transition: .4s;
    padding: 0.4rem;
    overflow: hidden;
    /* border-bottom: 5px solid var(--first-color); */
}
.nav{
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-bottom: 1rem; */
    /* border:1px solid green; */
}
.nav__logo{
    /* border:1px solid green; */
    display:flex;
    justify-content: center;
    align-items: center;
    column-gap: .24rem;
    font-weight: var(--font-medium);
    font-size: var(--h2-font);
    transition: .3s;
}
.nav__logo:hover{
    color: var(--first-color);
    transition: .5s;
}
.nav__logo span{
    border-left: 5px solid var(--first-color);
}
@media screen and (max-width: 1023px) {
    .nav__menu{
        position: fixed;
        bottom: 2rem;
        background-color: var(--container-color);
        box-shadow: 0 8px 24px hsla(228,66%,45%,.15);
        width: 90%;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 1.30rem 2rem;
        border-radius: 1.25rem;
        align-items: center;
    }
    .group_button{
        margin-right: 1.5rem;
    }

    .nav__item{
        padding-right: 1rem;
        padding-left: 0.3rem;
        padding-top: 1.5rem;
    }
}
/* styling the nav list  */
.nav__menu{
    padding-top: 0.5rem;
}
.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid green; */
}
.nav__item{
    position: relative;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
}
.nav__link{
    /* color:var(--text-color); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: .5rem; */
    border-radius: 50%;
}
li a:hover,li a .active{
    color:rgb(231, 228, 6);
}
li a.active{
    color:rgb(231, 228, 6);
}
.nav .nav__item a.active::after,
li a:hover::after{
     content:"";
     width: 50%;
     height: 4px;
     position: absolute;
     background-color: var(--first-color);
     left:20px;
     bottom:-4px ;
}
.group_button a{
    margin-left:0.5rem;
    border: 1px solid white;
    padding: 0.4rem 1rem 0.4rem 1rem;
    background-color: var(--first-color);
    border-radius: 50px;
    align-items: center;
}
/* the advert section styling */
.advert{
    /* height:400px; */
    /* background-color:#fff; */
    position: relative;
    overflow: hidden;
    height: 500px;
    /* top: 70px; */
    /* border: 1px solid black; */
    /* background-image:var(--first-color); */
}
.image img{
    margin-left: 3rem;
    animation: image 5s both infinite;
}
.image img{
    width:300px;
    height:300px;
    overflow: hidden;
    border-radius:125px 125px 10px 10px;
}
.title{
    font-weight: var(--font-semi-bold);
    font-size: var(--h1-font);
    color:rgb(8, 189, 39);
}
.description{
    text-align: center;
}
.info{
    padding: 0px;
}
.r{
    /* border: 1px solid var(--first-color); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
    /* padding-left:4rem; */
}
.message{
    color: wheat;
}
.r h4{
    color: var(--first-color);
}
.right{
    /* border: 2px solid var(--first-color); */
    background-color: #fff;
    /* border: 1px solid var(--first-color); */
}
.left{
   /* border: 1px solid var(--first-color-light); */
   padding: 5rem 0rem 0rem 3rem;
}
/* style icon animation */
.p{
    position: absolute;
    top: 140px;
    left: 750px;
    width:60px;
    animation: left 5s both;
    /* animation: rotate 1s; */
}
.c{
    position: absolute;
    top: 100px;
    left: 750px;
    width:60px;
    animation:right 5s  backwards;
}
.a{
    position: absolute;
    top: 120px;
    left: 1040px;
    width:60px;
    animation: left 5s  both;
}
.v{
    position: absolute;
    top: 100px;
    left:1040px;
    width:60px;
    animation: right 5s  backwards;
}
@keyframes left{
    0%{
        top: 140px;
        rotate:0%;
    }
    100%{
        top: 380px;
        rotate: 360deg;
    }
}
@keyframes right{
    0%{
        top: 400px;
    }
    100%{
        top: 100px;
    }
}
@keyframes image{
    0%{
        padding: 1rem;
    }
    100%{
        padding: 1px;
    }
}
@keyframes rotate{

    0% {
        rotate: 0deg;
      }
      100% {
        rotate: 360deg;
      }
}
.brand{
 width:40px;
 height: 20px;
}
/* feture styling */
.f{
    height: 50px;
    text-align: center;
    padding-top:4rem;
}
.service{
    position: relative;
    height: 50px;
    text-align: center;
    padding-top:20rem;
    z-index: 1110;
}
.f1{
    width: 200px;
    height:150px;
    box-shadow: 15px 15px 10px var(--first-color-lighten);
}
.gr{
    /* background-color:rgb(23, 226, 84); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* footer styling parts  */
.site-footer
{
  background-color:#1b304a;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:var(--first-color);
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
svg{
    width: 20px;
}
/* the popup styling */

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  padding-bottom: 1rem;
  color: #0d0d0d;
  border-bottom: 2px solid var(--first-color);
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: var(--first-color);
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=password],
input[type=email]{
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=password]:focus,
input[type=email]:focus {
  background-color: #fff;
  border-bottom: 2px solid var(--first-color);
}
input[type=password]:placeholder,
input[type=email]:placeholder {
  color: #cccccc;
}
/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}

* {
  box-sizing: border-box;
}
